extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main 
    .container.my-3 

        include ../../partials/list-btn-users.pug


        .row 
            .col-12 
                +box-head("Chat")
            
            .chat(my-id=userInfo.id)
                .image-preview-container
                
                .inner-body
                    each chat in chats
                        div(class=(chat.user_id == userInfo.id ? "inner-outgoing" : "inner-incoming") message-id = chat._id)
                            if(chat.user_id != userInfo.id)
                                .inner-name #{chat.infoUser.fullname}
                            if(chat.content)
                                .inner-box
                                    .inner-content #{chat.content}

                                    if(chat.user_id == userInfo.id)
                                        .inner-action
                                            i.fa-solid.fa-ellipsis
                                            .inner-menu
                                                div(data-id=chat._id class="delete-message") Xóa
                                                
                            if(chat.images && chat.images.length > 0)
                                .inner-images 
                                    each image in chat.images
                                        .image-item
                                            img(src=image)

                                            if(chat.user_id == userInfo.id)
                                                .inner-action
                                                    i.fa-solid.fa-ellipsis
                                                    .inner-menu
                                                        div(data-id=chat._id data-image=image class="delete-image") Xóa ảnh

                    div(class="inner-list-typing")

                .inner-foot
                    form(
                        class="inner-form"
                        action=""
                    )
                        input(
                            type="text"
                            placeholder="Nhập nội dung..."
                            name="content"
                        )
                        
                        span(class="button-icon button-icon-smile")
                            i.fa-regular.fa-face-smile
                        span(class="button-icon button-icon-image")
                            i.fa-regular.fa-image
                        button(type="submit")
                            i.fa-solid.fa-paper-plane

                    .filepond-wrapper 
                        input.filepond(
                            type="file"
                            name="images"
                            multiple
                        )


        div(class="tooltip" role="tooltip")
            emoji-picker
                