extends ../../layouts/default.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/form-trash-multi.pug
include ../../mixins/moment.pug

block main
    if(role.permissions.includes("products_delete"))
        h1 Sản phẩm đã xóa

        a.btn.btn-primary.mb-3(href=`${prefixAdmin}/products`)
            | Quay lại danh sách

        .card.mb-3
        .card-header Danh sách sản phẩm đã xóa
        .card-body
            +form-trash-multi(`${prefixAdmin}/products/change-multi?_method=PATCH`)

            table(
                class="table table-hover table-sm"
                checkbox-multi
            )
                thead
                    tr
                        th
                            input(
                                type="checkbox"
                                name="checkall"
                            )
                        th STT
                        th Hình ảnh
                        th Tiêu đề
                        th Giá
                        th Người xóa

                tbody
                    each item, index in products
                        tr
                            td
                                input(
                                    type="checkbox"
                                    name="id"
                                    value=item._id
                                )
                            td #{index + 1}
                            td
                                img(
                                    src=item.thumbnail
                                    width="100"
                                )
                            td #{item.title}
                            td #{item.price}$
                            td 
                                p #{item.accountFullName || "N/A"}
                                p 
                                    +formatDateTime(item.deletedAt)
                                td
                                    form(
                                        action=`${prefixAdmin}/products/restore/${item._id}?_method=PATCH`
                                        method="POST"
                                    )
                                        button.btn.btn-success.btn-sm Khôi phục

        +pagination(pagination)