header.header 
    .container 
        .row.align-items-center
            .col-2 
                .inner-logo 
                    a(href="/")
                        //- Thay bằng link ảnh logo của bạn
                        img(src="/images/logo.png", alt="Logo")
            .col-10
                .inner-main
                    .inner-search
                        form(action="/search", method="GET")
                            .input-group
                                input(
                                    type="text",
                                    name="keyword",
                                    placeholder="Tìm kiếm sản phẩm...",
                                    class="form-control",
                                    value=keyword
                                )
                                .input-group-append
                                    button(class="btn btn-primary" type="submit")
                                        i.fa-solid.fa-search
                    .inner-actions
                        a(href="/cart", class="inner-actions__item")
                            i.fa-solid.fa-cart-shopping
                            if(miniCart)
                                span.cart-badge #{miniCart.totalQuantity}
                        a(href="/user/login", class="inner-actions__item")
                            i.fa-solid.fa-user