header.header 
    .container 
        .row.align-items-center
            .col-2 
                .inner-logo 
                    a(href="/")
                        //- Thay bằng link ảnh logo của bạn
                        img(src="/images/logo.jpg", alt="Logo") 
                    a(href="/" class="logo-text") Trang chủ
            
            .col-10
                .inner-main
                    .inner-search
                        form(action="/search", method="GET")
                            .input-group
                                input(
                                    type="text",
                                    name="keyword",
                                    placeholder="Tìm kiếm sản phẩm...",
                                    class="form-control",
                                    value=keyword
                                )
                                .input-group-append
                                    button(class="btn btn-primary" type="submit")
                                        i.fa-solid.fa-search
                    .inner-actions
                        a(href="/cart", class="inner-actions__item")
                            i.fa-solid.fa-cart-shopping
                            if(miniCart)
                                span.cart-badge #{miniCart.totalQuantity}
                        a(href="/checkout/history", class="inner-actions__item", title="Đơn hàng của bạn")
                            i.fa-solid.fa-clipboard-list
                            if(orderCount > 0)
                                span.cart-badge #{orderCount}
                        if(user)
                            a(href="/user/info", class="inner-actions__item", title="Thông tin cá nhân")
                                i.fa-solid.fa-circle-user

                            a(href="/user/logout", class="inner-actions__item", title="Đăng xuất")
                                i.fa-solid.fa-right-from-bracket
                        else
                            a(href="/user/login", class="inner-actions__item", title="Đăng nhập")
                                i.fa-solid.fa-user
