
.row 
    .col-12
        a(
            class="btn btn-primary m-1"
            href="/users/not-friend"
        ) Danh sách người dùng 
        a(
            class="btn btn-primary m-1"
            href="/users/friends"
        ) Danh sách bạn bè 
        a(
            class="btn btn-primary m-1"
            href="/users/request"
        ) 
            | Yêu cầu kết bạn
            span(
                class="badge badge-light"
                badge-users-request=user.id
            ) #{user.requestFriends.length}
        a(
            class="btn btn-primary m-1"
            href="/users/accept"
        ) 
            | Lời mời kết bạn
            span(
                class="badge badge-light"
                badge-users-accept=user.id
            ) #{user.acceptFriends.length}
        div(class="mb-3")
            a.btn.btn-primary(href="/rooms-chat") 
                <i class="fa-solid fa-users mr-1"></i> Danh sách phòng chat