extends ../../layouts/default.pug
include ../../mixins/pagination.pug
include ../../mixins/form-trash-multi.pug

block main
    h1(class="mb-4") #{pageTitle}

    a.btn.btn-primary.mb-3(href=`${prefixAdmin}/product-category`)
        | Quay lại danh sách

    .card.mb-3
        .card-header Danh sách
        .card-body
            +form-trash-multi(`${prefixAdmin}/product-category/change-multi?_method=PATCH`)

            table(
                class="table table-hover table-sm"
                checkbox-multi
            )
                thead
                    tr
                        th
                            input(type="checkbox" name="checkall")
                        th STT
                        th Hình ảnh
                        th Tiêu đề
                        th Trạng thái
                        th Vị trí
                        th Hành động

                tbody
                    each item, index in records
                        tr 
                            td
                                input(
                                    type="checkbox"
                                    name="id"
                                    value=item.id
                                )
                            td #{pagination.limitItems * (pagination.currentPage - 1) + (index + 1)}
                            td
                                img(
                                    src=item.thumbnail
                                    alt=item.title
                                    width="100px"
                                    height="auto"
                                )
                            td #{item.title}
                            td
                                if(item.status == "active")
                                    span(class="badge badge-success") Hoạt động
                                else
                                    span(class="badge badge-danger") Dừng hoạt động
                            td
                                input(
                                    type="number"
                                    value=item.position
                                    style="width: 60px"
                                    min="1"
                                    name="position"
                                )
                            td
                                button(
                                    class="btn btn-warning btn-sm"
                                    button-restore
                                    data-id=item.id
                                ) Khôi phục

    +pagination(pagination)

    form(
        action=""
        method="POST"
        id="form-restore-item"
        data-path=`${prefixAdmin}/product-category/restore`
    )
    
    script(src="/admin/js/product-category.js")