extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
    .container.my-5
        +box-head("Chi tiết sản phẩm")

        .row.product-detail
            .col-md-5
                .inner-thumb
                    img(src=product.thumbnail, alt=product.title)
            .col-md-7
                h1.inner-title #{product.title}

                if (product.category)
                    .inner-category
                        | Danh mục: 
                        a(href=`/products/${product.category.slug}`) #{product.category.title}

                if (product.stock > 0)
                    .inner-stock Còn lại: <strong>#{product.stock}</strong> sản phẩm
                else
                    .inner-stock.text-danger Hết hàng

                .inner-price-new #{product.priceNew}$
                if (product.discountPercentage > 0)
                    span.inner-price-old #{product.price}$
                    span.inner-percent Giảm #{product.discountPercentage}%

                form(
                    action=`/cart/add/${product.id}`
                    method="POST"
                    class="mt-3"
                )
                    .form-group.d-flex.align-items-center
                        label.mb-0.mr-3(for="quantity") Số lượng:
                        div(class="input-group" style="width: 150px;")
                            button(class="btn btn-outline-secondary btn-minus" type="button")
                                i.fa-solid.fa-minus
                            input(
                                type="number",
                                name="quantity",
                                id="quantity",
                                value="1",
                                min="1",
                                class="form-control text-center input-quantity px-0"
                            )
                            button(class="btn btn-outline-secondary btn-plus" type="button")
                                i.fa-solid.fa-plus
                    
                    button(type="submit", class="btn btn-success btn-lg")
                        i.fa-solid.fa-cart-plus
                        |  Thêm vào giỏ hàng

        if(product.description)
            hr
            h3.mb-3 Mô tả sản phẩm
            .inner-desc!= product.description