extends ../../layouts/default


block main 

    form(
        action=`${prefixAdmin}/my-account/edit?_method=PATCH`
        method="POST"
        enctype="multipart/form-data"
    )
        h1(class="mb-4") Cập nhật thông tin cá nhân

        if(user.avatar)
            img(src=user.avatar, alt="Avatar", width="150", height="150", class="mb-3 rounded-circle")
        else
            img(src=`${prefixPublic}/images/default-avatar.png`, alt="Avatar", width="150", height="150", class="mb-3 rounded-circle")

        .mb-3
            label.form-label(for="fullname") Họ và tên
            input.form-control(type="text", id="fullname", name="fullname", value=user.fullname)

        .mb-3
            label.form-label(for="email") Email
            input.form-control(type="email", id="email", name="email", value=user.email)
        //password
        .mb-3 
            label.form-label(for="password") Mật khẩu mới (để trống nếu không muốn thay đổi)
            input.form-control(type="password", id="password", name="password")

        .mb-3
            label.form-label(for="phone") Số điện thoại
            input.form-control(type="text", id="phone", name="phone", value=user.phone)
        .mb-3
            label.form-label(for="avatar") Ảnh đại diện
            input.form-control(type="file", id="avatar", name="avatar")

        button.btn.btn-primary(type="submit") Cập nhật
